.category-section {
  margin-block: 1rem;
}

.category-section__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 720px) {
  .category-section__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1060px) {
  .category-section--subs .category-section__grid,
  .category-section--chopes .category-section__grid,
  .category-section--bebidas .category-section__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
